<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
</head>
<body>
{{{body}}}
<script src="/react_btn.js"></script>
</body>
</html>
